body {
    background-color: #e7e6e1;
  }

hr {
    size: "10";
    border-style: dotted none none;
    border-color: #314e52;
    border-width: 10px;
    width: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

h1 {
  color: #314e52;
}

h3 {
  color: #0a043c;
}
